@model MvcBasic.Models.Cliente
@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>

<div>
    <p>
        @Model.Nome
    </p>
    <p>
        @Model.SobreNome
    </p>
    <p>
        @Model.DataCadastro
    </p>
</div>

